
body{
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.App {
  text-align: center; 
}

 li{
   padding: 10px;
  
 }
 h2 {
   background-color: violet;
   border: red solid 2px;
 }
.hobbyList{
  list-style: none;
  padding: 5px;
  background-color: thistle;
  
  width:100%;
}


.guarantee{
  background-color: thistle;
}

.counterSection{
  background-color: thistle;
 
}